*{
    box-sizing:border-box;
    margin: 0 auto;
}
.main{
    width: 100%;
}

.header{
    width: 100%;
    height: 80px;
    background-color: lightblue; /*make color darker*/
    text-align: center;
}
.title{
    font-size: 50px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.left{
    display: inline-block;
    width: 30%;
    padding-left: 10px;
    padding-top: 20px;
    vertical-align: top;
}
.right{
    display: inline-block;
    width: 68%;
    padding-left: 10px;
    padding-top: 20px;
    vertical-align: top;
}
.header2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.city{
    width: 95%;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.searchBtn{
    width:95%;
    padding: 4px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue; /*make color darker*/
    color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.archievedItems{
    width:95%;
    padding: 7px;
    border-radius: 5px;
    margin: 0;   
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: lightblue;
    color: black;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.results{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}
.icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
#date{
    font-size: 20px;
    font-weight: bold;
}
#displayCity{
    font-size: 20px;
    font-weight: bold;
}
.display{
    font-size: 17px;
    font-weight: lighter;
}
.header3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.card-container{
    width: 100%;
    padding-top: 10px;
    display:flex;
}
.card{
    float: left;
    width: 17%;
    padding: 10px;
    background-color:rgb(99, 144, 180);
    justify-content: space-between;
    height: auto;
    color: white;
    font-size: 17px;
    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.icon1{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.icon2{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.icon3{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.icon4{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.icon5{
    width: 25px;
    height: 25px;
    object-fit: contain;
}